<!DOCTYPE html>
<html lang="en">
<%- include('./partials/_head.ejs') %>

<body>

  <!-- Include the nav (very similar) -->
  <%- include('./partials/_nav.ejs') %>

  <p class="error">This page does not exist bro</p>

  <%- include('./partials/_footer.ejs') %>
</body>

</html>