<!DOCTYPE html>
<html lang="en">
<%- include('./partials/_head.ejs') %>

<body>
  <!-- Ejs template has to render in the app.js -->
  <!-- Kinda similar to the likes of Jinja syntax in Python -->

  <!-- Include the nav (very similar) -->
  <%- include('./partials/_nav.ejs') %>

  <div class="blogs content">
    <h2>All Nodes</h2>

  </div>

  <%- include('./partials/_footer.ejs') %>

</body>

</html>
